@-webkit-viewport{width:device-width}@-moz-viewport{width:device-width}@-ms-viewport{width:device-width}@-o-viewport{width:device-width}@viewport{width:device-width}
@font-face {
    font-family: "Bien";
    src: url('../fonts/Bien.eot');
    src: url('../fonts/Bien?#iefix') format('embedded-opentype'),
         url('../fonts/Bien.ttf') format('truetype'),
         url('../fonts/Bien.svg#Bien') format('svg');
    font-weight: normal;
    font-style: normal;
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table,th,td{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}input,select{vertical-align:middle;border:0}.clr{clear:both;float:none;margin:0;padding:0;width:0;height:0}*,*:before,*:after{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
html{

}

body {
    line-height:25px;
    font-family: "Arial";
    font-size: 13px;
    color:#303030;  background: url('../images/bg.png') no-repeat scroll left/cover
}
a {color:#303030;margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration: none;}
a:hover{color:#107e36}
a img{float: left;}

ul , li {padding: 0;margin: 0;list-style: none;}
h1{font-size:40px ;text-transform: uppercase; color:#303030;font-weight: normal;}
h2{font-size:32px;text-transform: uppercase;color:#303030;font-weight: normal;}
h3{font-size:18.7333px;font-weight: normal;color: #303030;position: relative;overflow: hidden;text-transform: uppercase}
h4{font-weight: normal;position: relative;}
h5{font-size:13.2667px }
h6{font-size:10.7333px}
h3 img{position: absolute;margin-left: 30px;top:10px;}
h4 img{position: absolute;margin-left: 30px;top:12px;}
.left{float: left;}
.right{float: right;}
.ov{overflow:hidden;}
input[type=submit]{cursor: pointer;}

/* -----========================= End Framework CSS ========================----- */
.loading{position: fixed;top: 0;left: 0;bottom: 0;right: 0;z-index: 99999;background: url(../images/loading.gif) no-repeat center,url(../images/bg.png) no-repeat left/cover}
#myVideo{position: absolute;right: 0;bottom: 0;right:0;height: 100%;width:100%;z-index: 10;background-size: 100% 100%;background-image: /* our video */;background-position: center center;background-size: contain;object-fit: cover; /*cover video background */}
#logo{display: inline-block;text-indent: -9999px }
#logo img{display: block}

/* -----========================= Main ========================----- */
.section{text-align:center;}
#section0,#section1{background: #fff}
.fixbt{position: fixed;bottom: 0;left: 50px;z-index: 999}
.fixbt.ct{bottom:-62px;}
.slogan{position: fixed;left: 20px;top: 20px;opacity: 0; z-index: 999;}
.butterfly{position: absolute;bottom:0;left:40%;z-index: 9;}
.blue{position: absolute;top: 18%;left: 47%;display: none;z-index: 9;width: 100px;}
.bf{position: absolute;width: 20%} 
.bf1{top: -7%;right: 5%;}
.bf2{top: -10%;right:13%;}
.bf3{bottom: 11%;right: 0;}
.bf4{top: -16%;left: 11%;}
.bf6{top: -11%;left: 0;}
.bf5{bottom: 0;right: -9%;}
#bg{position: absolute;top: 0;left: -100%;height: 100%;z-index: 0;}
#svg{width: 373px;height: auto;position: relative;z-index: 1;}
#logo1{display: none;position: relative;z-index: 1}
#slogan1{display: block;margin: 20px auto;text-align: center;opacity: 0;position: relative;z-index: 1}
.remodal p{text-align: left;}
.fullsection{width: 100%;height: 100%;overflow: hidden;}
/* -----========================= Menu ========================----- */
#menu li {display:inline-block;color: #000;background:#fff;width: 100%;height: 82px;margin-bottom: 10px;}
#menu li.silknight{background: url('../images/14.png') no-repeat center/100% 100%} 
#menu li.silk{background: url('../images/8.png') no-repeat center/100% 100%} 
#menu li.daily{background: url('../images/9.png') no-repeat center/100% 100%} 
#menu li.xiteen{background: url('../images/10.png') no-repeat center/100% 100%} 
#menu li.happy{background: url('../images/11.png') no-repeat center/100% 100%} 
#menu li.active.silknight{background: url('../images/7.png') no-repeat center/100% 100%} 
#menu li.active.silk{background: url('../images/12.png') no-repeat center/100% 100%}
#menu li.active.daily{background: url('../images/13.png') no-repeat center/100% 100%}
#menu li.active.xiteen{background: url('../images/15.png') no-repeat center/100% 100%}
#menu li.active.happy{background: url('../images/16.png') no-repeat center/100% 100%}
#menu li:hover.silknight{background: url('../images/7.png') no-repeat center/100% 100%}
#menu li:hover.silk{background: url('../images/12.png') no-repeat center/100% 100%}
#menu li:hover.daily{background: url('../images/13.png') no-repeat center/100% 100%}
#menu li:hover.xiteen{background: url('../images/15.png') no-repeat center/100% 100%}
#menu li:hover.happy{background: url('../images/16.png') no-repeat center/100% 100%}
#menu li a{display: block;width: 100%;height: 100%;text-indent: -9999px}
#menu{position:fixed;top:70px;left:-200px;z-index: 70;width: 110px;opacity: 0}

/* -----========================= Menu Mobile ========================----- */
#mobile-menu {width: 100%;max-width: 240px;position: absolute;top: 0;right: 0;z-index: 9999;display: none;}
#mobile-menu span{cursor: pointer; display: inline-block; width: 48px;height: 45px;background: #DB007E url(../images/menu.png) no-repeat center/100%;position: absolute;right: -50px;top:0;}
#mobile-menu ul{margin-top: 47px;background:#DB007E;display: none; }
#mobile-menu ul li{text-align: right;border-bottom: 1px dashed #fff}
#mobile-menu ul li:last-of-type{border:none;}
#mobile-menu ul li a{color: #fff;padding:10px;display: block;font-size: 15px;text-align: center;}
#mobile-menu ul li.active a{background: rgba(255,255,255,.2);}



/* -----========================= Main home ========================----- */
.main{overflow: hidden;background: rgba(255,255,255,.3);}
.imgleft{position: absolute;left: 10%;bottom:0;width: 37%;opacity: 1}
#section2 .imgleft{left: 0;opacity: 0;z-index: 9}
#section2 .imgleft .girl{width: 100%;float: left;}
#section2 .imgleft .herspace{width: 32%;position: absolute;top: 0;right: 0;}
#section2 .imgleft .arrow{width: 8%;position: absolute;top: 5%;right: 33%;-webkit-animation: ANIMATE_PLOT 0.8s  ease-in-out alternate-reverse infinite;-moz-animation: ANIMATE_PLOT 0.8s  ease-in-out alternate-reverse infinite;-ms-animation: ANIMATE_PLOT 0.8s  ease-in-out alternate-reverse infinite;-o-animation: ANIMATE_PLOT 0.8s  ease-in-out alternate-reverse infinite;animation: ANIMATE_PLOT 0.8s  ease-in-out alternate-reverse infinite;}
@-webkit-keyframes ANIMATE_PLOT {from { -webkit-transform: translateX(-15px);}to {-webkit-transform: translateX(0px);}}
@keyframes ANIMATE_PLOT {from {transform: translateX(-15px);}to {transform: translateX(0px);}}
/* -----========================= Main sub ========================----- */
.des{width: 30%;right:4%;bottom: 0;position: absolute;}
.des img{max-width: 100%;}
.des .dual{position: absolute;width: 100%;height: 37%;top: 19%;overflow: hidden;color: #fff;padding: 0px 14%;
text-align: justify;}
.product{right: 37%;width: 47%;position: absolute;bottom: 0;opacity: 0}
.product img{max-width: 100%}
.line, .line_content {position:absolute;text-align:justify;}
.line_content:after {content: "";display: inline-block;width: 100%;}


/* -----========================= Slide ========================----- */
#slide{width: 62%;;margin: 0 auto;position: absolute;right: 2%;bottom: 0}
#slide .item{}
#slide .item aside{position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
#slide .item aside a:nth-of-type(1){width: 19.77%;position: absolute;top:16%;left: 30%;display: inline-block;}
#slide .item aside a:nth-of-type(2){width: 22.54%;position: absolute;bottom:41%;left: 7%;display: inline-block;}
#slide .item aside a:nth-of-type(3){width: 22.04%;position: absolute;bottom:10%;left: 30%;display: inline-block;}
#slide .item aside a:nth-of-type(4){width: 21.66%;position: absolute;bottom:41%;left: 50%;display: inline-block;}
#slide .item aside a:nth-of-type(5){width: 21.28%;position: absolute;top:16%;right: 7%;display: inline-block;}
#slide .item aside a:nth-of-type(6){width: 10.7%;position: absolute;bottom:16%;right: 7%;display: inline-block;}
.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0px,0px)}.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel .owl-refresh .owl-item{display:none}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d}.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-item img{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url("owl.video.play.png") no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);-moz-transition:scale(1.3,1.3);-ms-transition:scale(1.3,1.3);-o-transition:scale(1.3,1.3);transition:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-tn,.owl-carousel .owl-video-playing .owl-video-play-icon{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-video-frame{position:relative;z-index:1}
/* -----========================= last ========================----- */
.mid {text-align: left; display: inline-block; padding: 10px 20px 10px 55px;color: #fff;line-height: 20px; background:url(../images/27.png) no-repeat 15px center,url(../images/28.png) no-repeat center/100% 100%}
.mid a{color:#fff;}
.bottom{color: #149cea;display: inline-block;position: absolute;bottom: 20px;left: 0;right: 0;}
.bottom h3{font-weight: bold; color: #149cea;margin-bottom: 10px}
.bottom a{color: #149cea;}
.bottom p:first-of-type{position: relative;}
.bottom p img{margin-bottom: -3px;margin-right: 20px}
/*.bottom p:first-of-type:before{width: 90px;height: 51px;background:url(../images/29.png) no-repeat center/100% 100%;content: "";left: -105px;bottom:10px; position: absolute;}*/
/* -----========================= fullpage ========================----- */
#superContainer{height:100%;position:relative;-ms-touch-action:none;touch-action:none}.fp-section{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.fp-slide{float:left}.fp-slide,.fp-slidesContainer{height:100%;display:block}.fp-slides{z-index:1;height:100%;overflow:hidden;position:relative;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out}.fp-section.fp-table,.fp-slide.fp-table{display:table;width:100%}.fp-tableCell{display:table-cell;vertical-align:middle;width:100%;height:100%}.fp-slidesContainer{float:left;position:relative}.fp-controlArrow{position:absolute;z-index:4;top:50%;cursor:pointer;width:0;height:0;border-style:solid;margin-top:-38px}.fp-controlArrow.fp-prev{left:15px;width:0;border-width:38.5px 34px 38.5px 0;border-color:transparent #fff transparent transparent}.fp-controlArrow.fp-next{right:15px;border-width:38.5px 0 38.5px 34px;border-color:transparent transparent transparent #fff}.fp-scrollable{overflow:scroll}.fp-notransition{-webkit-transition:none!important;transition:none!important}#fp-nav{position:fixed;z-index:100;margin-top:-32px;top:50%;opacity:1}#fp-nav.right{right:5px}#fp-nav.left{left:17px}.fp-slidesNav{position:absolute;z-index:4;left:50%;opacity:1}.fp-slidesNav.bottom{bottom:17px}.fp-slidesNav.top{top:17px}#fp-nav ul,.fp-slidesNav ul{margin:0;padding:0}#fp-nav li,.fp-slidesNav li{display:block;width:14px;height:13px;margin:7px;position:relative}.fp-slidesNav li{display:inline-block}#fp-nav li a,.fp-slidesNav li a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none}#fp-nav li .active span,.fp-slidesNav .active span{background:#C212DD}#fp-nav span,.fp-slidesNav span{top:2px;left:2px;width:8px;height:8px;border:1px solid #C212DD;background:rgba(0,0,0,0);border-radius:50%;position:absolute;z-index:1}.fp-tooltip{position:absolute;top:-2px;color:#fff;font-size:14px;font-family:arial,helvetica,sans-serif;white-space:nowrap;max-width:220px}.fp-tooltip.right{right:20px}.fp-tooltip.left{left:20px}
/* -----========================= Popup ========================----- */
html.remodal_lock,body.remodal_lock{overflow:hidden}.remodal,[data-remodal-id]{visibility:hidden}.remodal-overlay{position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000;display:none;overflow:auto;-webkit-overflow-scrolling:touch;text-align:center}.remodal-overlay:after{display:inline-block;height:100%;margin-left:-0.05em;content:''}.remodal-overlay > *{-webkit-transform:translateZ(0px)}.remodal{position:relative;display:inline-block}.remodal,.remodal *{font-family:'Exo 2',sans-serif}.remodal-bg{-webkit-transition:-webkit-filter 0.2s linear;-moz-transition:-moz-filter 0.2s linear;-o-transition:-o-filter 0.2s linear;transition:filter 0.2s linear}body.remodal_active .remodal-bg{-webkit-filter:blur(3px);-moz-filter:blur(3px);-o-filter:blur(3px);-ms-filter:blur(3px);filter:blur(3px)}.remodal-overlay{opacity:0;background:rgba(33,36,46,0.95);-webkit-transition:opacity 0.2s linear;-moz-transition:opacity 0.2s linear;-o-transition:opacity 0.2s linear;transition:opacity 0.2s linear}body.remodal_active .remodal-overlay{opacity:1}.remodal{width:100%;min-height:100%;padding:35px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:16px;background:#f4f4f4;background-clip:padding-box;color:#182a3c;-webkit-box-shadow:0 0 8px #171a24;box-shadow:0 0 8px #171a24;-webkit-transform:scale(0.95);-moz-transform:scale(0.95);-ms-transform:scale(0.95);-o-transform:scale(0.95);transform:scale(0.95);-webkit-transition:-webkit-transform 0.2s linear;-moz-transition:-moz-transform 0.2s linear;-o-transition:-o-transform 0.2s linear;transition:transform 0.2s linear}body.remodal_active .remodal{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.remodal,.remodal-overlay:after{vertical-align:middle}.remodal-close{position:absolute;top:5px;left:5px;width:28px;height:28px;text-decoration:none;-webkit-border-radius:50%;border-radius:50%;border:2px solid #3e5368;-webkit-transition:background 0.2s linear;-moz-transition:background 0.2s linear;-o-transition:background 0.2s linear;transition:background 0.2s linear}.remodal-close:after{display:block;font-size:28px;font-family:Arial,'Helvetica CY','Nimbus Sans L',sans-serif!important;content:"×";line-height:28px;cursor:pointer;text-decoration:none;color:#3e5368;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear}.remodal-close:hover,.remodal-close:active{background:#3e5368}.remodal-close:hover.remodal-close:after,.remodal-close:active.remodal-close:after{color:#f4f4f4}@media only screen and (min-width:40.063em){.remodal{max-width:700px;margin:20px auto;min-height:0;-webkit-border-radius:6px;border-radius:6px}}
/* -----========================= first page ========================----- */
.frame {
  vertical-align: middle;
}
#button {
  stroke-dasharray: 1000;
  -webkit-stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-stroke-dashoffset: 1000;
  animation: drawing 100s ease-out;
  -webkit-animation: drawing 100s ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 3.5s;-webkit-animation-delay: 3.5s;
}
#button1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawing 10s ease-out;
  animation-fill-mode: forwards;
  -webkit-stroke-dasharray: 1000;
  -webkit-stroke-dashoffset: 1000;
  -webkit-animation: drawing 10s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 3.5s;-webkit-animation-delay: 3.5s;
}
#lace_top {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawing 10s ease-out;
  animation-fill-mode: forwards;
  -webkit-stroke-dasharray: 1000;
  -webkit-stroke-dashoffset: 1000;
  -webkit-animation: drawing 10s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 3.5s;-webkit-animation-delay: 3.5s;
}

#lace_bottom {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawing 10s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
  -webkit-stroke-dasharray: 1000;
  -webkit-stroke-dashoffset: 1000;
  -webkit-animation: drawing 10s ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 5.5s;
}

#Top_right {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawing 10s ease-out;
  animation-fill-mode: forwards;
  -webkit-stroke-dasharray: 1000;
  -webkit-stroke-dashoffset: 1000;
  -webkit-animation: drawing 10s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 3.5s;-webkit-animation-delay: 3.5s;
}

#Top_left {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawing 3.5s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
  -webkit-stroke-dasharray: 1000;
  -webkit-stroke-dashoffset: 1000;
  -webkit-animation: drawing 3.5s ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 5.5s;
}

#Bottom_right_1_ {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawing 3.5s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
  -webkit-stroke-dasharray: 1000;
  -webkit-stroke-dashoffset: 1000;
  -webkit-animation: drawing 3.5s ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 5.5s;
}

#Bottom_left {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawing 10s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 6.5s;
  -webkit-stroke-dasharray: 1000;
  -webkit-stroke-dashoffset: 1000;
  -webkit-animation: drawing 10s ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 6.5s;
}

@keyframes appear {
  to{opacity: 1;}
}
@-webkit-keyframes appear {
  to{opacity: 1;}
}

@-webkit-keyframes drawing {
  to { stroke-dashoffset: 0;}
}
@keyframes drawing {
  to { stroke-dashoffset: 0;}
}
